{
  "presets": [
    "env", "flow"
  ],
  "plugins": [
    "transform-react-jsx",
    ["react-css-modules", {
      "filetypes": {
        ".scss": {
          "syntax": "postcss-scss"
        }
      }
    }]
  ]
}
